@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* *{
    padding: 0;
    margin: 0;
} */


body {
   background-color: #d4d4d4; 
   color: #0f141e;
   
   font-size: 16px;
   
   font-weight: normal;

   font-family: 'Roboto'

   /* font: normal 16px 'Roboto', sans-serif; */
   
   /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */

}


a:hover{
    text-decoration: underline ;
}

a:active{
    color: rgb(182, 255, 87) ;
}

a:visited{
    color: #000000;
}

a {
color: black;
text-decoration: none;
}

/* #avatar */
.avatar{
    width: 300px;
    border-radius: 28px;
    box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.25);
}


.info{
    display: flex;
    margin-bottom: 20px;
    
}

@media(max-width: 7000px){
    .info{
        text-align: center;
        display: block;
    }
}

.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 25px;
    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    /* text-transform: lowercase; */
    /* text-transform: uppercase; */
    /* text-transform: capitalize; */
    /* letter-spacing: 15px; */
    /* word-spacing: 21px; */
}

/* BOx Model */

.all {
    max-width: 750%;
    margin-left: 100;
    padding-top: 30px;
}


/* .social {
    background: antiquewhite; */
    /* padding: 15px 10px; */
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px ;
    padding-right: 40px;
    
    margin: 5px;

    border: 5px solid rgb(206, 199, 125);
    border-bottom-style: dotted ;

} */

/*  */

.bg-Red{
   background: #c06c6c; 
}

.bg-Green{
    background: #a6e4a0;
}

.bg-Blu{
    background: #a2bae9;
}



.card{
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 28px;

}

.hobie{
   padding-left: 20px;
   
}

.hobie li{
    color: #494949;
    margin-bottom: 10px;
}
.tb{
    width: 100%;
}
.tb td{
    padding-bottom: 10px ;       
}


.tb td:nth-child(2), .tb td:nth-child(3){
    color: #000000;
}

.tb tr:nth-child(odd){
    color: #494949;
}

.youtube{
list-style: none ;
padding: 0;
}
.youtube li{
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.form h3{
    text-align: center;
}

.f1 label{
    display: block;
    font-size: 14px;
    color: #000000;
}

.f1 input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 2px solid #ccc;
    color: #000000;
    padding: 15px 0 8px;
    outline: none;
    font-family: inherit;
}

.f1 textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 2px solid #ccc;
    color: #000000;
    padding: 15px 0 8px;
    outline: none;
    font-family: inherit;
}

.row{
    display: flex;
    margin-bottom: 10px;
}

.row > .f1 {
    width: 50%;
    margin-right: 20px;

}
.row > .f1:last-child{
    margin-right: 0;
}

.info {
    display: flex;
}

.ifo-txt{
    margin-left: 40px;
    margin-bottom: 40px;
}

.btm{
    background: #a2bae9 ;
    padding:  10px 25px;
    border: 0;
    border-radius: 28px;
    font-family: inherit;
    cursor: pointer;
}

.btm:hover {
    opacity: 0.9;
}
